In [1]:
import pandas as pd
import numpy as np

## Load File

读取数据内容文件，注意没有表头，所以header=None

In [2]:
d = pd.read_csv('Massachusetts_Tracts_Block_Groups_Only/e20195ma0042000.txt', header=None)

此时的数据就是纯数据，没有表头

d.head()

读取数据模板文件，并把它的表头赋予刚才的数据内容文件，然后就有表头了。

In [3]:
d_header = pd.read_excel('2019_5yr_Summary_FileTemplates/seq42.xlsx') 
d.columns = d_header.columns
d.head()

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,B15001_001,B15001_002,B15001_003,B15001_004,...,C15002I_002,C15002I_003,C15002I_004,C15002I_005,C15002I_006,C15002I_007,C15002I_008,C15002I_009,C15002I_010,C15002I_011
0,ACSSF,201900000.0,ma,0,42,908,2822.0,1639.0,90.0,0.0,...,64.0,10.0,13.0,11.0,30.0,11.0,0.0,11.0,0.0,0.0
1,ACSSF,201900000.0,ma,0,42,909,3142.0,1391.0,258.0,0.0,...,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ACSSF,201900000.0,ma,0,42,910,1021.0,536.0,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,17.0
3,ACSSF,201900000.0,ma,0,42,911,2197.0,1094.0,103.0,0.0,...,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,20.0
4,ACSSF,201900000.0,ma,0,42,912,2156.0,944.0,64.0,0.0,...,10.0,0.0,0.0,0.0,10.0,13.0,0.0,0.0,0.0,13.0

读取地理文件，类似的，它也没有表头

In [4]:
g = pd.read_csv('Massachusetts_Tracts_Block_Groups_Only/g20195ma.csv', header=None)
g.head()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,ACSSF,MA,40,00,1,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,04000US25,Massachusetts,NaN,NaN,NaN
1,ACSSF,MA,40,01,2,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,04001US25,Massachusetts -- Urban,NaN,NaN,NaN
2,ACSSF,MA,40,43,3,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,04043US25,Massachusetts -- Rural,NaN,NaN,NaN
3,ACSSF,MA,40,A0,4,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,040A0US25,Massachusetts -- In metropolitan or micropolit...,NaN,NaN,NaN
4,ACSSF,MA,40,C0,5,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,040C0US25,Massachusetts -- In metropolitan statistical area,NaN,NaN,NaN

读取地理模板文件，并用它给地理文件赋予表头

In [5]:
g_header = pd.read_excel('2019_5yr_Summary_FileTemplates/2019_SFGeoFileTemplate.xlsx')
g.columns = g_header.columns
g.head()

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,PCI,BLANK.3,BLANK.4,PUMA5,BLANK.5,GEOID,NAME,BTTR,BTBG,BLANK.6
0,ACSSF,MA,40,00,1,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,04000US25,Massachusetts,NaN,NaN,NaN
1,ACSSF,MA,40,01,2,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,04001US25,Massachusetts -- Urban,NaN,NaN,NaN
2,ACSSF,MA,40,43,3,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,04043US25,Massachusetts -- Rural,NaN,NaN,NaN
3,ACSSF,MA,40,A0,4,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,040A0US25,Massachusetts -- In metropolitan or micropolit...,NaN,NaN,NaN
4,ACSSF,MA,40,C0,5,NaN,NaN,NaN,NaN,25,...,NaN,NaN,NaN,NaN,NaN,040C0US25,Massachusetts -- In metropolitan statistical area,NaN,NaN,NaN

检查数据文件和地理文件的维度，可见行数是不一样的。这里的数据文件只有Tract和Block Group，而地理文件还包括其他层次和系统的空间统计单元

In [6]:
print(d.shape, g.shape)

(6463, 248) (10087, 53)

基于LOGRECNO列，合并数据文件和地理文件，合并后只保留我们需要的B15001系列的属性，以及一些跟空间有关的地理信息列

In [7]:
dg = d.merge(g, on='LOGRECNO')
geo_columns = ['STATE', 'COUNTY', 'TRACT', 'BLKGRP','NAME']
use_data_cols = [f'B15001_{str(x+1).zfill(3)}' for x in range(83)] 
dg = dg[geo_columns+use_data_cols]
dg.head()

,STATE,COUNTY,TRACT,BLKGRP,NAME,B15001_001,B15001_002,B15001_003,B15001_004,B15001_005,...,B15001_074,B15001_075,B15001_076,B15001_077,B15001_078,B15001_079,B15001_080,B15001_081,B15001_082,B15001_083
0,25,1.0,10100.0,NaN,"Census Tract 101, Barnstable County, Massachus...",2822.0,1639.0,90.0,0.0,21.0,...,126.0,63.0,471.0,17.0,0.0,44.0,107.0,37.0,93.0,173.0
1,25,1.0,10206.0,NaN,"Census Tract 102.06, Barnstable County, Massac...",3142.0,1391.0,258.0,0.0,15.0,...,332.0,76.0,751.0,0.0,3.0,140.0,82.0,37.0,231.0,258.0
2,25,1.0,10208.0,NaN,"Census Tract 102.08, Barnstable County, Massac...",1021.0,536.0,49.0,0.0,23.0,...,38.0,99.0,244.0,20.0,0.0,72.0,42.0,0.0,72.0,38.0
3,25,1.0,10304.0,NaN,"Census Tract 103.04, Barnstable County, Massac...",2197.0,1094.0,103.0,0.0,0.0,...,67.0,128.0,587.0,20.0,10.0,119.0,76.0,71.0,158.0,133.0
4,25,1.0,10306.0,NaN,"Census Tract 103.06, Barnstable County, Massac...",2156.0,944.0,64.0,0.0,24.0,...,178.0,100.0,428.0,0.0,0.0,68.0,35.0,58.0,130.0,137.0

顺便看一下，有哪些地名是数据文件中没有，而地理文件中有的，打印前20个，可以看到第一个就是麻州全州的，第2、3个分别是麻州城镇地区、麻州乡村地区……

In [8]:
name = [x for x in list(g['NAME']) if x not in list(dg['NAME'])]

In [9]:
name[:20]

['Massachusetts',
 'Massachusetts -- Urban',
 'Massachusetts -- Rural',
 'Massachusetts -- In metropolitan or micropolitan statistical area',
 'Massachusetts -- In metropolitan statistical area',
 'Massachusetts -- In metropolitan statistical area -- in principal city',
 'Massachusetts -- In metropolitan statistical area -- not in principal city',
 'Massachusetts -- In micropolitan statistical area',
 'Massachusetts -- In micropolitan statistical area -- in principal city',
 'Massachusetts -- In micropolitan statistical area -- not in principal city',
 'Massachusetts -- Not in metropolitan or micropolitan statistical area',
 'Massachusetts -- Not in metropolitan statistical area',
 'Barnstable County, Massachusetts',
 'Berkshire County, Massachusetts',
 'Bristol County, Massachusetts',
 'Dukes County, Massachusetts',
 'Essex County, Massachusetts',
 'Franklin County, Massachusetts',
 'Hampden County, Massachusetts',
 'Hampshire County, Massachusetts']

把1001、1002、1003这3个Tracts的数据筛出来。打印结果，完全一致

In [10]:
places = [f'Census Tract {x}, Suffolk County, Massachusetts' for x in [1001,1002,1003]]
dg2 = dg.loc[dg['NAME'].isin(places)]
dg2

,STATE,COUNTY,TRACT,BLKGRP,NAME,B15001_001,B15001_002,B15001_003,B15001_004,B15001_005,...,B15001_074,B15001_075,B15001_076,B15001_077,B15001_078,B15001_079,B15001_080,B15001_081,B15001_082,B15001_083
1223,25,25.0,100100.0,NaN,"Census Tract 1001, Suffolk County, Massachusetts",4902.0,1949.0,394.0,0.0,123.0,...,186.0,40.0,496.0,142.0,85.0,136.0,77.0,36.0,20.0,0.0
1224,25,25.0,100200.0,NaN,"Census Tract 1002, Suffolk County, Massachusetts",2291.0,997.0,179.0,10.0,71.0,...,13.0,35.0,163.0,53.0,26.0,43.0,19.0,11.0,11.0,0.0
1225,25,25.0,100300.0,NaN,"Census Tract 1003, Suffolk County, Massachusetts",3350.0,1171.0,161.0,0.0,0.0,...,25.0,33.0,366.0,76.0,55.0,175.0,36.0,0.0,0.0,24.0